<!DOCTYPE html>
<html>
<head>
	<title>Create Insurance Policy</title>
	<link rel="stylesheet" href="/css/insurancePolicy/create-insurance-policy.css">
</head>
<body>
	<h1>Create Insurance Policy</h1>
	<form method="post" action="/policies/create">
		<label for="policyNumber">Policy Number:</label>
		<input type="text" id="policyNumber" name="policyNumber" required><br><br>
		<label for="type">Type:</label>
		<input type="text" id="type" name="type" required><br><br>
		<label for="coverageAmount">Coverage Amount:</label>
		<input type="number" id="coverageAmount" name="coverageAmount" required><br><br>
		<label for="premium">Premium:</label>
		<input type="number" id="premium" name="premium" required><br><br>
		<label for="startDate">Start Date:</label>
		<input type="date" id="startDate" name="startDate" required><br><br>
		<label for="endDate">End Date:</label>
		<input type="date" id="endDate" name="endDate" required><br><br>
		<label for="client">Client:</label>
		<select class="form-control" id="client" name="client">
			<option value="">Select a client</option>
			<th:block th:each="client : ${clients}">
				<option th:value="${client.id}" th:text="${client.name}"></option>
			</th:block>
		</select><br><br>
		<input type="submit" value="Create Policy">
	</form>
</body>
</html>
